#form {
    width: 40%;
    margin: 0 auto;
    border: 7px solid #d8f5fa;
    padding: 20px;
    border-radius: 10px;
    /* Ngăn các button bị tràn ra khỏi div cha */
    overflow: hidden; 
}

.btn-primary{
    margin-right: 15px;
}


form{
    margin-left: 20px;
}

.icon i{
    font-size: 30px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.form-group{
    margin-top: 40px;
}

