#form {
    width: 40%;
    margin: 0 auto;
    border: 7px solid #d8f5fa;
    padding: 20px;
    border-radius: 10px;
    /* Ngăn các button bị tràn ra khỏi div cha */
    overflow: hidden; 
}

.btn-primary{
    margin-right: 15px;
}

.button, .icon{
    margin-top: 40px;
}


form{
    margin-left: 20px;
}

.icon i{
    font-size: 30px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.icon a{
    color: rgb(57, 51, 51);
}
a:hover{
    color:rgb(8, 0, 255);
}

#verificationCode{
    font-size: 25px;
    color: grey;
}
p{
    text-align: center;
}