img{
    height: 250px;
    width: 300px;
}
.col{
    background-color:aqua;
    height: 300px;
    width: 300px;
    justify-content: center;
    display: flex;
}
.product{
    height: 300px;
    width: 300px;
    background-color: blue;
}
#row{
    height: 500px;
    background-color: aqua;
}